In [1]:
class Book:
    def __init__(self, name, price, author, year, sell):
        self.name = name
        self.price = price
        self.author = author
        self.year = year
        self.sell = sell

In [2]:
books = [
    Book('Harry Potter', 20000,  'J.K. Rowling', 2008, 200),
    Book('Jane Eyre', 8000, 'Charlotte Bronte', 1847, 500),
    Book('Steve Jobs', 11000, 'Walter Isaacson', 2011, 280),
    Book('Don Quixote', 9500, 'Miguel de Cervantes', 1605, 500),
]

In [5]:
# sort by year
books.sort(key=lambda book: book.year)
for book in books:
    print(book.name, book.year)

Don Quixote 1605
Jane Eyre 1847
Harry Potter 2008
Steve Jobs 2011

In [6]:
# sort by sell and year
books.sort(key=lambda book: [book.sell, book.year], reverse=True)
for book in books:
    print(book.name, book.sell, book.year)

Jane Eyre 500 1847
Don Quixote 500 1605
Steve Jobs 280 2011
Harry Potter 200 2008

In [7]:
# sort by name length
books.sort(key=lambda book: len(book.name), reverse=True)
for book in books:
    print(book.name, book.year)

Harry Potter 2008
Don Quixote 1605
Steve Jobs 2011
Jane Eyre 1847