In [1]:
class Calculator:
    def __init__(self, base):
        self.base = base

In [2]:
calclator = Calculator(10)

In [3]:
calclator(1, 2)

TypeError: 'Calculator' object is not callable

In [12]:
class Calculator:
    def __init__(self, base):
        self.base = base
    def __call__(self, x, y):
        self.base += (x + y)
        return self.base

In [13]:
calculator = Calculator(10)
print(calculator(1, 2))
print(calculator(2, 3))

13
18

In [6]:
calculator.__call__(1, 2)

## 익명함수

In [14]:
def mysum1(x, y):
    return x + y

In [15]:
mysum1

In [16]:
lambda x, y: x + y

In [17]:
(lambda x, y: x + y)(1, 2)

3

In [19]:
mysum1_other = mysum1

In [20]:
mysum1_other(1, 2)

3

In [21]:
mysum2 = lambda x, y: x + y

In [22]:
mysum2(1, 2)

3

## 일급함수, 고차함수

In [1]:
def myfn():
    a = 1
    return a

In [2]:
def myfn2():
    fn = lambda x, y: x + y
    return fn

In [4]:
def myfn3():
    def fn(x, y):
        return x + y
    return fn

In [3]:
return_fn = myfn2()
return_fn(1, 2)

3

In [5]:
myfn3()(1, 2)

3

## 빌트인 함수 활용

In [6]:
sorted("hello world")

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [7]:
sorted({1, 2, 1, 2, 3, 4, 1, 3, 1, 2, 3})

[1, 2, 3, 4]

In [9]:
sorted([9, 1, 11, 32, 19])

[1, 9, 11, 19, 32]

In [10]:
sorted([9, 1, 11, 32, 19], key=lambda i: i%10)

[1, 11, 32, 9, 19]

In [14]:
sorted({9, 1, 11, 32, 19}, key=lambda i: i%10)

[11, 1, 32, 19, 9]

In [11]:
sorted([9, 1, 11, 32, 19], key=lambda i: i%10, reverse=True)

[9, 19, 32, 1, 11]

In [13]:
list(reversed(sorted([9, 1, 11, 32, 19], key=lambda i: i%10)))

[19, 9, 32, 11, 1]

### filter

In [16]:
list(filter(lambda i: i<10, [1, 11, 23, -1, 3, 9]))

[1, -1, 3, 9]

### map

In [18]:
list(map(lambda i: i**2, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### max

In [19]:
max(10, 12, 3, 1, 2, 3)

12

In [20]:
max([10, 12, 3, 1, 2, 3])

12

In [21]:
max([10, 12, 3, 1, 2, 3], key=lambda i: i%10)

3

In [22]:
max([])

ValueError: max() arg is an empty sequence

In [23]:
max([], default=0)

0

In [27]:
max(filter(lambda i: i<2, range(-10, 10)))

1

In [28]:
filter(lambda i: i<2, range(-10, 10))

## Person 클래스를 통한 정렬

In [29]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [30]:
people = [
    Person('Tom', 10),
    Person('Jane', 8),
    Person('Steve', 11),
    Person('Hill', 9),
]

In [31]:
people.sort()

TypeError: unorderable types: Person() < Person()

In [35]:
people.sort(key=lambda person: person.age, reverse=True)

In [36]:
for person in people:
    print(person.name, person.age)

Steve 11
Tom 10
Hill 9
Jane 8

### __lt__ 를 통한 인스턴스간 대소비교

In [45]:
class Person2:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __lt__(self, other):
        return self.age < other.age

people2 = [
    Person2('Tom', 10),
    Person2('Jane', 9),
    Person2('Steve', 11),
    Person2('Hill', 9),
]

people2.sort()

for person in people2:
    print(person.name, person.age)

Jane 9
Hill 9
Tom 10
Steve 11

## 다수 기준으로 정렬하기

In [46]:
mylist = [10, 11, 9, 20, 12, 313, 211, 121]

In [47]:
mylist.sort(key=lambda i: [len(str(i)), i%10])

In [48]:
mylist

[9, 10, 20, 11, 12, 211, 121, 313]