In [1]:
class Book(object):
    def __init__(self, title, price, author, year, sell):
        self.title = title
        self.price = price
        self.author = author
        self.year = year
        self.sell = sell

In [2]:
books = [
    Book('Harry Potter 1', 10000, 'J. K. Rowling', 1999, 100000),
    Book('Harry Potter 2', 13000, 'J. K. Rowling', 2001, 90000),
    Book('Harry Potter 3', 12000, 'J. K. Rowling', 2002, 80000),
    Book('Harry Potter 4', 9000, 'J. K. Rowling', 2004, 110000),
    Book('Harry Potter 5', 15000, 'J. K. Rowling', 2005, 70000),
    Book('Harry Potter 6', 16000, 'J. K. Rowling', 2007, 85000),
    Book('Harry Potter 7', 10000, 'J. K. Rowling', 2009, 130000)
    ]

In [3]:
for p in books:
    print(p.title, p.price)

Harry Potter 1 10000
Harry Potter 2 13000
Harry Potter 3 12000
Harry Potter 4 9000
Harry Potter 5 15000
Harry Potter 6 16000
Harry Potter 7 10000

In [4]:
books.sort(key=lambda Book: Book.year, reverse=True)

위의 코드를 통해 출간년도의 역순(내림차순)으로 정렬합니다.

In [5]:
for p in books:
    print(p.title, p.year)

Harry Potter 7 2009
Harry Potter 6 2007
Harry Potter 5 2005
Harry Potter 4 2004
Harry Potter 3 2002
Harry Potter 2 2001
Harry Potter 1 1999

In [6]:
books.sort(key=lambda Book: Book.sell, reverse=True)

위의 코드를 통해 판매부수의 역순(내림차순)으로 정렬합니다.

In [7]:
for p in books:
    print(p.title, p.sell)

Harry Potter 7 130000
Harry Potter 4 110000
Harry Potter 1 100000
Harry Potter 2 90000
Harry Potter 6 85000
Harry Potter 3 80000
Harry Potter 5 70000

In [8]:
books.sort(key=lambda Book: Book.sell*Book.price, reverse=True)

위의 코드를 통해 판매액(=판매부수와 책값의 곱)의 역순(내림차순)으로 정렬합니다.

In [9]:
for p in books:
    print(p.title, p.sell*p.price)

Harry Potter 6 1360000000
Harry Potter 7 1300000000
Harry Potter 2 1170000000
Harry Potter 5 1050000000
Harry Potter 1 1000000000
Harry Potter 4 990000000
Harry Potter 3 960000000