In [1]:
class Book:
    def __init__(self, title, price, author, year, copies):
        self.title = title
        self.price = price
        self.author = author
        self.year = year
        self.copies = copies

In [17]:
books = [
    Book('Entrophy', 10000, 'Tom', 1957, 30000),
    Book('Harry Poter', 8000, 'Jenny', 1988, 25000),
    Book('Steve Jobs', 11000, 'Tommy', 1970, 500000),
    Book('Hillary Clinton', 9000, 'Hong', 2012, 5200),
]

In [18]:
books.sort(key=lambda book: book.copies, reverse=True)

In [19]:
i=1
for book in books:
    print(i,book.title, book.copies)
    i+=1

1 Steve Jobs 500000
2 Entrophy 30000
3 Harry Poter 25000
4 Hillary Clinton 5200

In [20]:
books.sort(key=lambda book: book.price, reverse=True)

In [21]:
i=1
for book in books:
    print(i,book.title, book.price)
    i+=1

1 Steve Jobs 11000
2 Entrophy 10000
3 Hillary Clinton 9000
4 Harry Poter 8000

In [22]:
books.sort(key=lambda book: len(book.title), reverse=True)

In [23]:
i=1
for book in books:
    print(i,book.title)
    i+=1

1 Hillary Clinton
2 Harry Poter
3 Steve Jobs
4 Entrophy