In [70]:
class Book:
    def __init__(self, name, author, pub_date, sales):
        self.name = name
        self.author = author
        self.pub_date = pub_date
        self.sales = sales

In [79]:
books = [
         Book("One Piece", "Eiichiro Oda", 1997, 380),
         Book("Dragon Ball", "Akira Toriyama", 1984, 240),
         Book("Naruto", "Masashi Kishimoto", 1999, 220),
         Book("Slam Dunk", "Takehiko Inoue", 1990, 120),
         Book("Doraemon", "Fujiko Fujio", 1969, 100)
        ]x`

# 1) 출간 년도

In [80]:
books_order_by_pub_date = sorted(books, key=lambda book: book.pub_date)
for book in books_order_by_pub_date:
    print(book.name, book.pub_date)

Doraemon 1969
Dragon Ball 1984
Slam Dunk 1990
One Piece 1997
Naruto 1999

# 2) 작가 이름 알파벳 수

In [82]:
books_order_by_num_of_author_name = sorted(books, key=lambda book: len(book.author))
for book in books_order_by_num_of_author_name:
    print(book.name, book.author,len(book.author))

One Piece Eiichiro Oda 12
Doraemon Fujiko Fujio 12
Dragon Ball Akira Toriyama 14
Slam Dunk Takehiko Inoue 14
Naruto Masashi Kishimoto 17

# 3) 판매 부수 역순

In [84]:
books_order_by_sales = sorted(books, key=lambda book: book.sales, reverse=False)
for book in books_order_by_sales:
    print(book.name, book.sales)

Doraemon 100
Slam Dunk 120
Naruto 220
Dragon Ball 240
One Piece 380