## Book 클래스 만들고, Book 리스트 정렬(sort)

In [14]:
class Book(object):
    def __init__(self, title, price, author, year, sale):
        self.title = title
        self.price = price
        self.author = author
        self.year = year
        self.sale = sale

        
booklist = [    
    Book('A Tale of Two Cities', 13, 'Charles Dickens', 1859, 210000000),
    Book('Le Petit Prince', 9,'Saint-Exupery', 1943, 200000000),
    Book('The Hobbit', 29, 'J.R.R.Tolkien', 1937, 100000000),
    Book('And Then There Were None', 8, 'Agatha Christie', 1939, 120000000),
]

In [15]:
# 책값(price, $) 기준으로 내림차순 정렬
booklist.sort(key=lambda book: book.price, reverse=True)

for book in booklist:
    print('{}, ${}'.format(book.title, book.price))

The Hobbit, $29
A Tale of Two Cities, $13
Le Petit Prince, $9
And Then There Were None, $8

In [16]:
# 발행년도(year) 기준으로 오름차순 정렬
booklist.sort(key=lambda book: book.year, reverse=False)

for book in booklist:
    print('{}, ${}'.format(book.title, book.year))

A Tale of Two Cities, $1859
The Hobbit, $1937
And Then There Were None, $1939
Le Petit Prince, $1943

In [17]:
# 책 제목 단어 개수 기준으로 오름차순 정렬
booklist.sort(key=lambda book: len(book.title), reverse=False)

for book in booklist:
    print(book.title)

The Hobbit
Le Petit Prince
A Tale of Two Cities
And Then There Were None

## 인자를 받는 장식자 base

In [54]:
def base(a):
    def set(fn):
        def wrap(x, y):
            return a + x + y
        return wrap
    return set

@base(10)
def sum(x, y):
    return x + y
print(sum(1, 2))

13