## 과제 1
Book 클래스를 만들고, Book 리스트를 다양한 기준으로 정렬(Sort) 하는 예를 3개 이상 만들어보세요.

In [13]:
class Book(object):
    def __init__(self, title, price, author, published_year, circulation):
        self.title = title
        self.price = price
        self.author = author
        self.published_year = published_year
        self.circulation = circulation
        
Book_list = []
Book_list.append(Book('완벽하지 않은 것들에 대한 사랑', 14800, '혜민', 2016, 185347))
Book_list.append(Book('대통령의 글쓰기', 16000, '강원국', 2014, 107357))
Book_list.append(Book('지적 대화를 위한 넓고 얕은 지식', 16000, '채사장', 2014, 256709))
Book_list.append(Book('꽃을 보듯 너를 본다', 10000, '나태주', 2015, 63498))
Book_list.append(Book('이갈리아의 딸들', 15000, '브란튼베르그', 2016, 291300))
Book_list.append(Book('해리포터와 저주받은 아이', 12000, 'J.K. 롤링', 2016, 259270))
Book_list.append(Book('설민석의 조선왕조실록', 22000, '설민석', 2016, 307515))
Book_list.append(Book('그럴 때 있으시죠?', 15800, '김제동', 2016, 159905))
Book_list.append(Book('채식주의자', 12000, '한강', 2007, 362870))
Book_list.append(Book('나미야 잡화점의 기적', 14800, '히가시노 게이고', 2012, 203592))

print('#책 제목 단어 갯수로 내림차수 정렬')
for book in sorted(Book_list, key=lambda i: len(i.title.split()), reverse=True):
    print("{}, {}원, {}, {}년, {}부".format(book.title, book.price, book.author, book.published_year, book.circulation))
print()

print('#책 제목 글자 수로 오름차수 정렬')
for book in sorted(Book_list, key=lambda i: len(i.title.replace(" ",""))):
    print("{}, {}원, {}, {}년, {}부".format(book.title, book.price, book.author, book.published_year, book.circulation))
print()

print('#책 가격으로 내림차수 정렬')
for book in sorted(Book_list, key=lambda i: i.price, reverse=True):
    print("{}원, {}, {}, {}년, {}부".format(book.price, book.title, book.author, book.published_year, book.circulation))
print()  

print('#책 판매부수로 오름차수 정렬')
for book in sorted(Book_list, key=lambda i: i.circulation):
    print("{}부, {}, {}, {}원, {}년".format(book.circulation, book.title, book.author, book.price, book.published_year))
print()

print('#작가 이름 가나다순으로 정렬')
for book in sorted(Book_list, key=lambda i: i.author):
    print("{}, {}, {}원, {}년, {}부".format(book.author, book.title, book.price, book.published_year, book.circulation))
print()

#책 제목 단어 갯수로 내림차수 정렬
지적 대화를 위한 넓고 얕은 지식, 16000원, 채사장, 2014년, 256709부
완벽하지 않은 것들에 대한 사랑, 14800원, 혜민, 2016년, 185347부
꽃을 보듯 너를 본다, 10000원, 나태주, 2015년, 63498부
해리포터와 저주받은 아이, 12000원, J.K. 롤링, 2016년, 259270부
그럴 때 있으시죠?, 15800원, 김제동, 2016년, 159905부
나미야 잡화점의 기적, 14800원, 히가시노 게이고, 2012년, 203592부
대통령의 글쓰기, 16000원, 강원국, 2014년, 107357부
이갈리아의 딸들, 15000원, 브란튼베르그, 2016년, 291300부
설민석의 조선왕조실록, 22000원, 설민석, 2016년, 307515부
채식주의자, 12000원, 한강, 2007년, 362870부

#책 제목 글자 수로 오름차수 정렬
채식주의자, 12000원, 한강, 2007년, 362870부
대통령의 글쓰기, 16000원, 강원국, 2014년, 107357부
이갈리아의 딸들, 15000원, 브란튼베르그, 2016년, 291300부
꽃을 보듯 너를 본다, 10000원, 나태주, 2015년, 63498부
그럴 때 있으시죠?, 15800원, 김제동, 2016년, 159905부
나미야 잡화점의 기적, 14800원, 히가시노 게이고, 2012년, 203592부
설민석의 조선왕조실록, 22000원, 설민석, 2016년, 307515부
해리포터와 저주받은 아이, 12000원, J.K. 롤링, 2016년, 259270부
완벽하지 않은 것들에 대한 사랑, 14800원, 혜민, 2016년, 185347부
지적 대화를 위한 넓고 얕은 지식, 16000원, 채사장, 2014년, 256709부

#책 가격으로 내림차수 정렬
22000원, 설민석의 조선왕조실록, 설민석, 2016년, 307515부
16000원, 대통령의 글쓰기, 강원국, 2014년, 107357부
16000원, 지적 대화를 위한 넓고 얕은 지식, 채사장, 2014년, 256709부
15800원, 그럴 때 있으시죠?, 김제동, 2016년, 159905부
15000원, 이갈리아의 딸들, 브란튼베르그, 2016년, 291300부
14800원, 완벽하지 않은 것들에 대한 사랑, 혜민, 2016년, 185347부
14800원, 나미야 잡화점의 기적, 히가시노 게이고, 2012년, 203592부
12000원, 해리포터와 저주받은 아이, J.K. 롤링, 2016년, 259270부
12000원, 채식주의자, 한강, 2007년, 362870부
10000원, 꽃을 보듯 너를 본다, 나태주, 2015년, 63498부

#책 판매부수로 오름차수 정렬
63498부, 꽃을 보듯 너를 본다, 나태주, 10000원, 2015년
107357부, 대통령의 글쓰기, 강원국, 16000원, 2014년
159905부, 그럴 때 있으시죠?, 김제동, 15800원, 2016년
185347부, 완벽하지 않은 것들에 대한 사랑, 혜민, 14800원, 2016년
203592부, 나미야 잡화점의 기적, 히가시노 게이고, 14800원, 2012년
256709부, 지적 대화를 위한 넓고 얕은 지식, 채사장, 16000원, 2014년
259270부, 해리포터와 저주받은 아이, J.K. 롤링, 12000원, 2016년
291300부, 이갈리아의 딸들, 브란튼베르그, 15000원, 2016년
307515부, 설민석의 조선왕조실록, 설민석, 22000원, 2016년
362870부, 채식주의자, 한강, 12000원, 2007년

#작가 이름 가나다순으로 정렬
J.K. 롤링, 해리포터와 저주받은 아이, 12000원, 2016년, 259270부
강원국, 대통령의 글쓰기, 16000원, 2014년, 107357부
김제동, 그럴 때 있으시죠?, 15800원, 2016년, 159905부
나태주, 꽃을 보듯 너를 본다, 10000원, 2015년, 63498부
브란튼베르그, 이갈리아의 딸들, 15000원, 2016년, 291300부
설민석, 설민석의 조선왕조실록, 22000원, 2016년, 307515부
채사장, 지적 대화를 위한 넓고 얕은 지식, 16000원, 2014년, 256709부
한강, 채식주의자, 12000원, 2007년, 362870부
혜민, 완벽하지 않은 것들에 대한 사랑, 14800원, 2016년, 185347부
히가시노 게이고, 나미야 잡화점의 기적, 14800원, 2012년, 203592부

## 과제 2
인자를 받는 장식자 base 를 구현해보세요.

In [12]:
def base(num):
    def wrap(fn):
        def inner(x, y):
            ret = fn(x, y) + num
            return ret
        return inner
    return wrap


#Decorator type 1
def mysum1(x, y):
    return x + y
mysum1 = base(10)(mysum1)

print(mysum1(1,2))


#Decorator type 2
@base(20)
def mysum2(x, y):
    return x + y

print(mysum2(3,4))

13
27