## Book 클래스를 만들고, Book 리스트를 다양한 기준으로 정렬(sort)하는 예를 3개 이상 만들어보세요. 
* Book 클래스 멤버변수 : 책 제목, 책 값, 저자, 출간년도, 판매부수
* ex) 책 제목 단어 갯수로 내림차순 정렬

## sort1, 출간년도로 sorting

In [22]:
class Book1:
    def __init__(self, title, price, author, publication_date, circulation):
        self.title = title
        self.price = price
        self.author = author
        self.publication_date = publication_date
        self.circulation = circulation
    
    def __lt__(self, other):
        return self.publication_date < other.publication_date
    
    def __str__(self):
        return "Title: {}, Price: ${}, Author: {}, Publication date: {}, Circulation: {} sales".format(
        self.title, self.price, self.author, self.publication_date, self.circulation)

In [23]:
books1 = [
    Book1('Two Scoops of Django', 37.06, 'Daniel Roy Greenfeld', 20150515, 100),
    Book1('Effective PYTHON', 29.40, 'Brett Slatkin', 20150308, 120),
    Book1('Fluent Python', 33.86, 'Luciano Ramalho', 20150820, 130),
]

In [24]:
books1.sort()

In [25]:
for book1 in books1:
    print(book1.title, book1.price, book1.author, book1.publication_date, book1.circulation)

Effective PYTHON 29.4 Brett Slatkin 20150308 120
Two Scoops of Django 37.06 Daniel Roy Greenfeld 20150515 100
Fluent Python 33.86 Luciano Ramalho 20150820 130

## 판매부수로 sorting

In [26]:
class Book2:
    def __init__(self, title, price, author, publication_date, circulation):
        self.title = title
        self.price = price
        self.author = author
        self.publication_date = publication_date
        self.circulation = circulation
    
    def __lt__(self, other):
        return self.circulation < other.circulation
    
    def __str__(self):
        return "Title: {}, Price: ${}, Author: {}, Publication date: {}, Circulation: {} sales".format(
        self.title, self.price, self.author, self.publication_date, self.circulation)

In [34]:
books2 = [
    Book2('Two Scoops of Django', 37.06, 'Daniel Roy Greenfeld', 20150515, 100),
    Book2('Effective PYTHON', 29.40, 'Brett Slatkin', 20150308, 120),
    Book2('Fluent Python', 33.86, 'Luciano Ramalho', 20150820, 130),
]

In [32]:
books2.sort()

In [35]:
for book2 in books2:
    print(book2.title, book2.price, book2.author, book2.publication_date, book2.circulation)

Two Scoops of Django 37.06 Daniel Roy Greenfeld 20150515 100
Effective PYTHON 29.4 Brett Slatkin 20150308 120
Fluent Python 33.86 Luciano Ramalho 20150820 130

## 책 제목을 ABC순으로 sorting

In [37]:
class Book3:
    def __init__(self, title, price, author, publication_date, circulation):
        self.title = title
        self.price = price
        self.author = author
        self.publication_date = publication_date
        self.circulation = circulation
    
    def __lt__(self, other):
        self.title_list = [x.lower() for x in self.title]
        other.title_list = [x.lower() for x in other.title]
        return self.title_list < other.title_list
    
    def __str__(self):
        return "Title: {}, Price: ${}, Author: {}, Publication date: {}, Circulation: {} sales".format(
        self.title, self.price, self.author, self.publication_date, self.circulation)

In [38]:
books3 = [
    Book3('Two Scoops of Django', 37.06, 'Daniel Roy Greenfeld', 20150515, 100),
    Book3('Effective PYTHON', 29.40, 'Brett Slatkin', 20150308, 120),
    Book3('Fluent Python', 33.86, 'Luciano Ramalho', 20150820, 130),
]

In [39]:
books3.sort()

In [40]:
for book3 in books3:
    print(book3.title, book3.price, book3.author, book3.publication_date, book3.circulation)

Effective PYTHON 29.4 Brett Slatkin 20150308 120
Fluent Python 33.86 Luciano Ramalho 20150820 130
Two Scoops of Django 37.06 Daniel Roy Greenfeld 20150515 100

## 인자를 받는 장식자 base를 구현해보세요.

In [59]:
def base(base):
    def real_decorator(fn):
        def wrap(x, y):
            return fn(x, y) + base
        return wrap
    return real_decorator

In [64]:
@base(13)
def sum(x, y):
    return x + y

In [66]:
print(sum(1,2))

16