# 1. Book Class 과제

In [3]:
class Book : 
    def __init__(self, title, price, author, year, sales) :
        self.title = title
        self.price = price
        self.author = author
        self.year = year
        self.sales = sales
        
Booklist = [
    Book('Harry Potter Series', 15000, 'J.K.Rowling', 1999, 450000000),
    Book('Twilight Saga', 13000, 'Stephanie Meyer', 2006, 120000000),
    Book('Narnia Chronicles', 27000, 'C.S.Lewis', 1949, 85000000),
    Book('Nancy Drew', 10000, 'Carolyn', 1930, 200000000),
    Book('Diary of a Wimpy Kid', 9000, 'Jeff Kinney', 2007, 164000000),
    Book('Goosebumps', 8000, 'R.L.Stein', 1992, 350000000)
]

## 제목 알파벳 순

In [13]:
byTitle = sorted(Booklist, key=lambda Book : Book.title)

for Book in byTitle :
    print(Book.title, '  ', Book.price, '  ', Book.author, '  ', Book.year, '  ', Book.sales)

Diary of a Wimpy Kid    9000    Jeff Kinney    2007    164000000
Goosebumps    8000    R.L.Stein    1992    350000000
Harry Potter Series    15000    J.K.Rowling    1999    450000000
Nancy Drew    10000    Carolyn    1930    200000000
Narnia Chronicles    27000    C.S.Lewis    1949    85000000
Twilight Saga    13000    Stephanie Meyer    2006    120000000

## 높은 가격 순

In [14]:
byHighPrice = sorted(Booklist, key=lambda Book : Book.price, reverse=True)

for Book in byHighPrice :
    print(Book.title, '  ', Book.price, '  ', Book.author, '  ', Book.year, '  ', Book.sales)

Narnia Chronicles    27000    C.S.Lewis    1949    85000000
Harry Potter Series    15000    J.K.Rowling    1999    450000000
Twilight Saga    13000    Stephanie Meyer    2006    120000000
Nancy Drew    10000    Carolyn    1930    200000000
Diary of a Wimpy Kid    9000    Jeff Kinney    2007    164000000
Goosebumps    8000    R.L.Stein    1992    350000000

## 제목 글자 갯수 많은 순

In [16]:
byTitleLetters = sorted(Booklist, key=lambda Book : len(Book.title), reverse=True)

for Book in byTitleLetters :
    print(Book.title, '  ', Book.price, '  ', Book.author, '  ', Book.year, '  ', Book.sales)

Diary of a Wimpy Kid    9000    Jeff Kinney    2007    164000000
Harry Potter Series    15000    J.K.Rowling    1999    450000000
Narnia Chronicles    27000    C.S.Lewis    1949    85000000
Twilight Saga    13000    Stephanie Meyer    2006    120000000
Nancy Drew    10000    Carolyn    1930    200000000
Goosebumps    8000    R.L.Stein    1992    350000000

## 오래 된 순

In [19]:
byOldbook = sorted(Booklist, key=lambda Book : Book.year)

for Book in byOldbook :
    print(Book.title, '  ', Book.price, '  ', Book.author, '  ', Book.year, '  ', Book.sales)

Nancy Drew    10000    Carolyn    1930    200000000
Narnia Chronicles    27000    C.S.Lewis    1949    85000000
Goosebumps    8000    R.L.Stein    1992    350000000
Harry Potter Series    15000    J.K.Rowling    1999    450000000
Twilight Saga    13000    Stephanie Meyer    2006    120000000
Diary of a Wimpy Kid    9000    Jeff Kinney    2007    164000000

# 2. 장식자 과제

In [21]:
def base(number) :
    def function(fn) :
        def wrap(x, y) :
            ret = fn(x, y) + number
            return ret
        return wrap
    return function

In [23]:
@base(10)
def sum(x, y):
    return x + y

In [24]:
print(sum(1, 2))

13