# 2014-15935 이윤규 과제 due 20161115

## 1. 책 분류

In [30]:
class Book(object):
    def __init__(self, title, price, author, date, sold):
        self.title = title
        self.price = price
        self.author = author
        self.date = date
        self.sold = sold

In [82]:
books = [
    Book('어린왕자',10000, '생택쥐페리', 1943, 10000),
    Book('완득이',6700, '개똥', 2007, 9000),
    Book('누가 내머리에 똥쌌어', 27000, '철수' , 1999, 27000)
]

### 1-1) 가격에 따라 분류

In [84]:
books.sort(key = lambda book : book.price, reverse=True)

In [85]:
print('--------가격 기준으로 분류--------')
for book in books:
    print('제목 : {}, 가격 : {}원'.format(book.title, book.price))

--------가격 기준으로 분류--------
제목 : 누가 내머리에 똥쌌어, 가격 : 27000원
제목 : 어린왕자, 가격 : 10000원
제목 : 완득이, 가격 : 6700원

### 1-2) 발행년도로 분류

In [86]:
books.sort(key = lambda book : book.date, reverse=True)

In [87]:
print('--------발행일 기준으로 분류--------')
for book in books:
    print('제목 : {}, 발행년도 : {}년'.format(book.title, book.date))

--------발행일 기준으로 분류--------
제목 : 완득이, 발행년도 : 2007년
제목 : 누가 내머리에 똥쌌어, 발행년도 : 1999년
제목 : 어린왕자, 발행년도 : 1943년

### 1-3) 책제목 길이로 분류

In [88]:
books.sort(key = lambda book : len(book.title), reverse=True)

In [92]:
print('--------제목길이 기준으로 분류--------')
for book in books:
    length = 0
    for words in sorted(book.title):
        if words == ' ':
            length += 0
        else:
            length += 1
   
    print('제목 : {}, 제목길이 : {}'.format(book.title,length))

--------제목길이 기준으로 분류--------
제목 : 누가 내머리에 똥쌌어, 제목길이 : 9
제목 : 어린왕자, 제목길이 : 4
제목 : 완득이, 제목길이 : 3

## 2. 장식자

문제에서 요구하는 바를 파악하지 못하였습니다..

In [105]:
def base(call):
    def wrap(func):
        def inner(a,b):
            return a+b
        return inner
    return wrap

In [103]:
@base(10)
def sum(x, y):
    return x + y

print(sum(1, 2))

3