## Book 클래스를 만들고, 다양한 기준으로 정렬하기

In [5]:
class Book:
    def __init__(self, title, price, author, published, sales):
        self.title = title
        self.price = price
        self.author = author
        self.published = published
        self.sales = sales
        
books = [
Book('Becoming the Boss', 14800, 'Linsey Pollak', 2014, 2000000),
Book('Management Science', 47000, 'Powell Stephen G.', 2008, 500000),
Book('The Vegetarian', 15990, 'Han Gang', 2015, 1500000),
Book('Harry Potter And The Sorcerer\'s Stone', 12000, 'Joan K. Rowling', 1997, 50000000)

]

### 책 제목 길이 오름차순 정렬(다른 변수 포함하여 표현)

In [6]:
books.sort(key=lambda Book: len(Book.title), reverse=False)

for Book in books:
    print(Book.title, "/", Book.price, "/", Book.author, "/", Book.published, "/", Book.sales)

The Vegetarian / 15990 / Han Gang / 2015 / 1500000
Becoming the Boss / 14800 / Linsey Pollak / 2014 / 2000000
Management Science / 47000 / Powell Stephen G. / 2008 / 500000
Harry Potter And The Sorcerer's Stone / 12000 / Joan K. Rowling / 1997 / 50000000

### 책값 오름차순 정렬

In [7]:
books.sort(key=lambda Book: Book.price, reverse=False)

for Book in books:
    print(Book.title, Book.price)

Harry Potter And The Sorcerer's Stone 12000
Becoming the Boss 14800
The Vegetarian 15990
Management Science 47000

### 판매부수 내림차순 정렬

In [8]:
books.sort(key=lambda Book: Book.sales, reverse=True)

for Book in books:
    print(Book.title, Book.sales)

Harry Potter And The Sorcerer's Stone 50000000
Becoming the Boss 2000000
The Vegetarian 1500000
Management Science 500000

### 책값 10의 자리 수 크기대로 내림차순 정렬

In [9]:
books.sort(key=lambda Book: Book.price%100, reverse=True)

for Book in books:
    print(Book.title, Book.price)

The Vegetarian 15990
Harry Potter And The Sorcerer's Stone 12000
Becoming the Boss 14800
Management Science 47000

## 인자를 받는 장식자 base를 구현

In [2]:
# 어떤 함수의 기능을 감싸는 용도의 함수 만들기

def base(fn):
    def wrap(x, y):
        ret = fn(x, y) + 10
        return ret
    return wrap

def sum(x, y):
    return x + y

sum = base(sum)

print(sum(1, 2))

13

In [3]:
# class에 default 값으로 같은 기능하기

class Calculator(object):
    def __init__(self, base):
        self.base = base
    def __call__(self, x, y):
        return self.base + x + y
calculator = Calculator(10)
print(calculator(1, 2))

13

In [4]:
# 익명함수를 이용하여 return문 쓰지 않고, 마지막 값을 반환하기

mysum2 = lambda x, y: 10 + x + y
mysum2(1, 2)

13