## Book class sort

In [16]:
class Book:
    def __init__(self, name, price, writer, year, sell):
        self.name = name
        self.price = price
        self.writer = writer
        self.year = year
        self.sell = sell

In [25]:
books = [
    Book('난쏘공', 10000, '조세희', 1975, 1000),
    Book('1Q84', 6000, '무라카미', 2005, 5000),
    Book('은교', 5000, '박범신', 2006, 7000)
]

In [29]:
books.sort(key = lambda Book : Book.price)
for Book in books:
    print(Book.price, Book.name)

5000 은교
6000 1Q84
10000 난쏘공

In [33]:
books.sort(key = lambda Book : len(Book.name),reverse = True)
for Book in books:
    print(Book.price, Book.name)

6000 1Q84
10000 난쏘공
5000 은교

In [37]:
books.sort(key = lambda Book : [len(Book.name), Book.year])
for Book in books:
    print(Book.name, Book.price, Book.writer, Book.year, Book.sell)

은교 5000 박범신 2006 7000
난쏘공 10000 조세희 1975 1000
1Q84 6000 무라카미 2005 5000

## 장식자 base 구현

In [14]:
def base(base_number):
    def set_decorator(func):
        def wrapper(*args,**kwargs):
            return base_number + func(*args,**kwargs)
        return wrapper
    return set_decorator

In [16]:
@base(10)
def sum(x, y):
    return x + y

In [18]:
sum(3,5)

18