## 책 클래스 만들기

In [1]:
class Book():
    def __init__(self, name, price, auther, year, Qy):
        self.name = name
        self.price = price
        self.auther = auther
        self.year = year
        self.Qy = Qy

## 임의의 책(Book class) list 설정

In [32]:
booklist = [
Book("HarryPotter", 25000, "Rowling", 1997, 30000),
Book("Lord of the Ring", 13600, "Tolkien", 1954, 25000),
Book("Odysseia", 30000, "Homer", -800, 400000),
Book("The Little Prince", 13100,"Saint-Exupery", 1943, 30000),
Book("DivineComedy", 21600, "Dante", 1321, 120000),
]

## Sort 작업
- 시작 단어의 알파벳 순서
- 가격 순서
- 출판년도 순서

In [57]:
book_firstname = list(sorted(booklist, key = lambda Book: Book.name))
print('시작 단어의 알파벳 순서로 정렬')
for bookname in book_firstname:
    print(bookname.name,',', bookname.price,'원,', bookname.auther,' 저,', bookname.year,'년,', bookname.Qy,'권 판매')
    
book_price = list(sorted(booklist, key = lambda Book: Book.price, reverse = True))
print('\n책 가격의 높은 순으로 정렬')
for bookprice in book_price:
    print(bookprice.name,',', bookprice.price,'원,', bookprice.auther,' 저,', bookprice.year,'년,', bookprice.Qy,'권 판매')

book_year = list(sorted(booklist, key = lambda Book: Book.year))
print('\n출판년도 순으로 정렬')
for bookyear in book_year:
    print(bookyear.name,',', bookyear.year,'년,' , bookyear.price,'원,', bookyear.auther,' 저,', bookyear.Qy,'권 판매')

시작 단어의 알파벳 순서로 정렬
DivineComedy , 21600 원, Dante  저, 1321 년, 120000 권 판매
HarryPotter , 25000 원, Rowling  저, 1997 년, 30000 권 판매
Lord of the Ring , 13600 원, Tolkien  저, 1954 년, 25000 권 판매
Odysseia , 30000 원, Homer  저, -800 년, 400000 권 판매
The Little Prince , 13100 원, Saint-Exupery  저, 1943 년, 30000 권 판매

책 가격의 높은 순으로 정렬
Odysseia , 30000 원, Homer  저, -800 년, 400000 권 판매
HarryPotter , 25000 원, Rowling  저, 1997 년, 30000 권 판매
DivineComedy , 21600 원, Dante  저, 1321 년, 120000 권 판매
Lord of the Ring , 13600 원, Tolkien  저, 1954 년, 25000 권 판매
The Little Prince , 13100 원, Saint-Exupery  저, 1943 년, 30000 권 판매

출판년도 순으로 정렬
Odysseia , -800 년, 30000 원, Homer  저, 400000 권 판매
DivineComedy , 1321 년, 21600 원, Dante  저, 120000 권 판매
The Little Prince , 1943 년, 13100 원, Saint-Exupery  저, 30000 권 판매
Lord of the Ring , 1954 년, 13600 원, Tolkien  저, 25000 권 판매
HarryPotter , 1997 년, 25000 원, Rowling  저, 30000 권 판매

## 인자를 받는 장식자 base

- 초기값이라는 부분이 잘 이해되지 않습니다 
- 초기값 + 함수 연산 결과인지, 초기값을 함수의 연산에 적용하는건지 잘 모르겠습니다
- 문제로 나온 sum 함수의 경우는 위의 두 경우 같기 때문에 확인이 어려워서
- 후자의 경우로 이해하고 문제를 풀었습니다
- 이를 잘 보여주기 위해 과제에서 주어진 sum 함수 외에 multi(곱셉)함수도
- @base로 꾸며 초기값을 설정하여 출력해보았습니다

In [163]:
def base(start):
    def wrap(my_fn):
        def wrap2(x,y):
            ret = my_fn(my_fn(start,x),y)
            return ret 
        return wrap2
    return wrap

In [165]:
@base(10)
def sum(x,y):
    return x + y

print(sum(1,2))

@base(10)
def multi(x,y):
    return x*y
print(multi(1,2))

13
20