In [1]:
from collections import defaultdict

print('입력양식 : 이름, 키, 몸무게, 좋아하는브랜드')
print('(중단 : n)')
print('')

people = {
    'name': [],
    'height': [],
    'weight': [],
    'brand': [],
}

while True:
    line = input('')

    if line.lower() == 'n':
        break

    name, height, weight, brand = line.split(',')
    people['name'].append(name)
    people['height'].append(float(height))
    people['weight'].append(float(weight))
    people['brand'].append(brand)

입력양식 : 이름, 키, 몸무게, 좋아하는브랜드
(중단 : n)

Jimmy, 159, 48, Apple
Tom, 150, 40, Apple
Steve, 155, 45, Samsung
Jobs, 157, 40, Samsung
Olivia, 152, 43, Apple
Tim, 148, 50, Sony
Han, 152, 41, Sony
Cook, 150, 43, Apple
Ronaldo, 165, 55, Sony
Zidane, 167, 60, Kakao
Ballack, 170, 52, Dell
Django, 172, 60, Python
Kim, 165, 59, Kakao
n

In [2]:
import pandas as pd

df = pd.DataFrame(people,
        index=people['name'],
        columns=['name', 'height', 'weight', 'brand'])

In [3]:
df

            name  height  weight     brand
Jimmy      Jimmy   159.0    48.0     Apple
Tom          Tom   150.0    40.0     Apple
Steve      Steve   155.0    45.0   Samsung
Jobs        Jobs   157.0    40.0   Samsung
Olivia    Olivia   152.0    43.0     Apple
Tim          Tim   148.0    50.0      Sony
Han          Han   152.0    41.0      Sony
Cook        Cook   150.0    43.0     Apple
Ronaldo  Ronaldo   165.0    55.0      Sony
Zidane    Zidane   167.0    60.0     Kakao
Ballack  Ballack   170.0    52.0      Dell
Django    Django   172.0    60.0    Python
Kim          Kim   165.0    59.0     Kakao

In [4]:
df.height

Jimmy      159.0
Tom        150.0
Steve      155.0
Jobs       157.0
Olivia     152.0
Tim        148.0
Han        152.0
Cook       150.0
Ronaldo    165.0
Zidane     167.0
Ballack    170.0
Django     172.0
Kim        165.0
Name: height, dtype: float64

In [5]:
df.height.min(), df.height.sum(), df.height.mean(), df.height.median()

(148.0, 2062.0, 158.6153846153846, 157.0)

In [6]:
df.weight

Jimmy      48.0
Tom        40.0
Steve      45.0
Jobs       40.0
Olivia     43.0
Tim        50.0
Han        41.0
Cook       43.0
Ronaldo    55.0
Zidane     60.0
Ballack    52.0
Django     60.0
Kim        59.0
Name: weight, dtype: float64

In [7]:
df.weight.min(), df.weight.sum(), df.weight.mean(), df.weight.median()

(40.0, 636.0, 48.92307692307692, 48.0)

In [8]:
df.brand

Jimmy         Apple
Tom           Apple
Steve       Samsung
Jobs        Samsung
Olivia        Apple
Tim            Sony
Han            Sony
Cook          Apple
Ronaldo        Sony
Zidane        Kakao
Ballack        Dell
Django       Python
Kim           Kakao
Name: brand, dtype: object

In [9]:
counts = df.brand.value_counts(sort=True, ascending=False)

In [10]:
counts

 Apple      4
 Sony       3
 Samsung    2
 Kakao      2
 Python     1
 Dell       1
Name: brand, dtype: int64

In [11]:
counts[:3]

 Apple      4
 Sony       3
 Samsung    2
Name: brand, dtype: int64